<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="ecommerceApp">
   <ion-nav-view></ion-nav-view> 

   <script type="text/ng-template" id="login.html">
    <ion-header-bar class="bar bar-header bar-light"> 
      <h1 class="title">Login</h1> 
      <button class="button button-clear button-positive" ui-sref="signup">Sign Up</button>  
    </ion-header-bar> 
      <ion-content padding="true" scroll="false">
        <form name="loginForm" ng-submit="loginForm.$valid && login()" class="auth-form"> 
          <div class="list">
            <label class="item item-input form-border">
              <span class="input-label">Email: </span>
              <input type="email" required placeholder="johndoe@example.com" ng-model="user.email">  
            </label> 

            <label class="item item-input" style="border-bottom:grey;">
              <span class="input-label">Password: </span> 
              <input type="password" required placeholder="password" ng-model="user.password"> 
            </label> 
            <label class="item item-input">
              <button type="submit" class="button button-block button-positive button-placement">Login</button>   
            </label>  
          </div> 
        </form>   
      </ion-content> 
   </script> 

   <script type="text/ng-template" id="signup.html">
      <ion-header-bar class="bar-light" > 
        <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="login">Back</a>
        <h1 class="title"> Sign Up</h1> 
      </ion-header-bar>
      <ion-content padding="true" scroll="false">
        <form name="signupForm" ng-submit="signupForm.$valid && signup()" novalidate class="auth-form"> 
          <div class="list">
            <label class="item item-input" >
              <span class="input-label">Email: </span> 
              <input type="email" ng-model="user.email" required> 
            </label> 

            <label class="item item-input" style="border-bottom:grey;">
              <span class="input-label">Password: </span> 
              <input type="password" ng-model="user.password"> 
            </label> 

            <label class="item item-input" style="border-bottom:grey;">
              <span class="input-label">Confirm: Password</span> 
              <input type="password" ng-model="user.confirmPassword" required> 
            </label> 

            <label class="item item-input">
              <button class="button button-block button-positive button-placement">Sign Up</button>  
            </label> 
          </div>
        </form>  
      </ion-content>   
   </script> 

   <script type="text/ng-template" id="home.html">
      <ion-tabs class="tabs-light tabs-icon-only">

        <ion-tab title="Products" >
          <ion-header-bar class="bar-light">
            <h1 class="title">Products</h1>  
          </ion-header-bar> 

          <ion-content padding="true">  

          </ion-content> 
        </ion-tab>

        <ion-tab title="Categories">
          <!-- Tab 2 content -->
          <ion-header-bar class="bar-light">
            <div class="buttons">
              <button class="button button-icon icon ion-ios-minus-outline" ng-click="showCategoryDelete=!showCategoryDelete;"> 
              </button> 
            </div> 
            <h1 class="title">Categories</h1>  
            <div class="buttons">
              <button class="button button-icon" ng-click="newTask()">
                <i class="icon ion-compose"></i>
              </button> 
            </div> 
          </ion-header-bar>

            <ion-content padding="true" class="scroll-content ionic-scroll has-header"> 
              <ion-list show-delete="showCategoryDelete">
                
                <ion-item ng-repeat="category in categories">

                    <ion-delete-button class="ion-minus-circled"> 
                    </ion-delete-button> 

                    <h2>{{category.name}}</h2>

                    <ion-option-button class="button-positive">  
                      Edit
                    </ion-option-button> 
                </ion-item>  
              </ion-list> 
            </ion-content> 
        </ion-tab>

        <ion-tab title="Others" >
          <!-- Tab 3 content -->
          <ion-header-bar class="bar-light">
            <h1 class="title">Others</h1>  
          </ion-header-bar>

          <ion-content padding="true" scroll="false">
           
          </ion-content> 
        </ion-tab>
    </ion-tabs>
   </script> 
  </body>
</html>
