/* Empty. Add your own CSS if you like */
.auth-form{
	width:75%;
	margin:43% auto 0;
	border:3px solid grey;	
}
.button-placement{
	margin-right:20px;
}
.form-border{
	border-bottom:1px solid grey;
}